<footer class="footer text-bg-dark py-4 mt-auto" >
    <div class="container">
        <span class="lead d-block text-center">Yelpcamp Summer 2024</span>
        <span class="F6 d-block text-danger text-center">Greg's training developpement</span>
    </div>
</footer>