<% layout('layouts/boilerplate.ejs') %> 
<link rel="stylesheet" href="/styles/images.css" class="rel"> 
<div class="container">
    <div class="row bg-secondary-subtle">
        <h1 class="text-center">
            ADD A NEW CAMPGROUND
        </h1>
        <div class="col-6 offset-3 my-3 ">
            <form action="/campgrounds" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
                <div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <!--  name=campground[title] will create a objet campground      -->
                        <input type="text"  class="form-control" name="campground[title]" id="title" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a title campground.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="textarea" rows="3"  class="form-control" name="campground[description]" id="description" required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please describe with more than 10 words.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label me-2">Add images</label>
                        <div class="input-group ">
                            <span class="input-group-text" id="logoForm">&#9978;</span>
                            <input type="file"  class="form-control" name="image" id="image" required multiple onchange="previewMultiple(event)"><br>
                        </div>
                        <div id="formFile">
                            <img src="" alt="">
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Need  image url.
                        </div>
                    </div>
                    <!-- <div class="mb-3">
                        <label for="image" class="form-label me-2">Image url</label>
                        <div class="input-group ">
                            <span class="input-group-text" id="logoForm">@</span>
                            <input type="url"  class="form-control" name="campground[image]" id="image" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Need  image url.
                            </div>
                        </div>
                    </div> -->
                    <div class="mb-3">
                        <div class="row">
                            <div class="col input-group">
                                <label for="location" class="form-label me-2">location</label>
                                <span class="input-group-text" id="logoForm"> &#8982;</span>
                                <input type="text"  class="form-control" name="campground[location]" id="location" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Where is the campground.
                                </div>
                            </div>
                            <div class="col input-group">
                                <label for="price" class="form-label me-2">Price/Night</label>
                                <span class="input-group-text" id="logoForm">€</span>
                                <input type="text"  class="form-control" name="campground[price]" id="price" placeholder="8.90" min="0" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Is it free?
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Add new campground</button>
                </div>
                <a href="/campgrounds" class="btn btn-danger mt-1"> All campground</a>
            </form>
        </div>
    </div>
</div>

