<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewCampground</title>
</head>
<body>
    <form action="/campgrounds" method="post">
        <div>
            <label for="title">Title</label>
            <!--  name=campground[title] will create a objet campground      -->
            <input type="text" name="campground[title]" id="title">
            <label for="description">Description</label>
            <input type="text" name="campground[description]" id="description"><br>
            <label for="location">location</label>
            <input type="text" name="campground[location]" id="location">
            <label for="price">price</label>
            <input type="text" name="campground[price]" id="price"><br>
            <button type="submit">Add new campground</button>
        </div>
    </form>
</body>
</html>