<% layout('layouts/boilerplate.ejs') %>
    <h1>Login form</h1>
    <form action="/login" method="post" class="needs-validation" novalidate>
        <div>
            <div class="mb-3">
                <label for="username" class="form-label">username</label>
                <input type="text"  class="form-control" name="username" id="username" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">password</label>
                <input type="password"  class="form-control" name="password" id="password" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter a valid password.
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Login</button>
        <a href="/campgrounds" class="btn btn-danger"> Register later</a>
    </form>